.ButtonSecondary {
  background-color: transparent;
  border: none;
  color: #ff6d00;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  outline: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ButtonSecondary:hover {
  color: #d33a09;
  transition: all 0.3s ease-out;
}
